body {
    background-color: #E6D0D2;
    background: #E6D0D2;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 9px;
    color: #2e2e2e;
    letter-spacing: 0.3px;
    line-height: 180%;
    text-transform: lowercase;
    text-align: justify;cursor:url(https://i.postimg.cc/Px4ysW9f/tiny.png),auto;
}

small, sub, sup {
    font-size: 9px;
}

b, bold, strong {
    color: #CF8678;
    font-weight: bold; 
    font-family: poppins;
    text-transform: uppercase;
}

i, italic {
    color: #f8d8af;
}

a { 
 cursor:url(https://i.postimg.cc/Px4ysW9f/tiny.png),auto;
  color: #D09078;
  text-decoration: none;
  font-family: poppins;
  text-transform: uppercase;
  font-weight: 800;
  
}
::-webkit-scrollbar {
  display:none;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
} 


@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.nlinks {
width: 30px; height: 30px; margin: 6px 5px; display: inline-block; background: rgba(217, 151, 132, 0.57); border: 1px solid #f8d8af; box-shadow: 0px 0px 5px rgba(0,0,0,0.02); transition: 0.3s; border-radius: 50%;
}

.nlinks:hover {
 background: rgba(217, 151, 132, 0.83); border: 1px solid #f8f3d1; transition: 0.3s;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 #f8d8af;
		opacity: 1;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.grid {
width: 1000px; height: 1000px; background-size: 34px 34px; background-image: linear-gradient(to right, #C0898D 1px, transparent 1px), linear-gradient(to bottom, #C0898D 1px, transparent 1px); position: absolute; left: -738px; top: -14px; background-color: #CE9AA0;
}

.navi {
width: 371px; height: 430px; border: 1px solid #e5e5e5; position: absolute; top: 65px; left: 450px; background: #fbfbfb; overflow: hidden; border-radius: 0px 50px 0px 50px; box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}

.navside {
width: 150px; height: 500px; position: absolute; border-left:1px solid #e5e5e5; right: 0px; overflow: hidden;
}

.screen {
width: 280px; height: 180px; background: #fefefe; border: 1px solid #e5e5e5; position: absolute; border-radius: 20px; left: 35px; top: 49px; overflow: hidden; padding: 10px; box-shadow: 0px 0px 5px rgba(0,0,0,0.04); -webkit-animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.icon {
width: 50px; height: 50px; background: #fefefe; border: 1px solid #e5e5e5;border-radius:100%;
; position: absolute; left: 50%; padding: 6px; margin-left: -32px; top: 30px; animation: pulse 2s infinite;
}

.icon2 {
    width: 50px; height: 50px;border-radius:100%; position: absolute;
}
.icon2 img{
    width: 50px; height: 50px;border-radius:100%;

}
.username {
width: 100px; height: 20px; border-radius: 3px; position: absolute; font-family: poppins; text-transform:none;font-weight: 900; left: 50%; margin-left: -60px; top: 100px; display: flex; align-items: center; justify-content: center; color: #F3E2C8; padding: 0px 10px 2px 10px; line-height: 100%;font-size:11px;
}

.pass {
width: 100px; height: 20px; border-radius: 3px; position: absolute; background: rgba(255,255,255,0.4); left: 50%; margin-left: -60px; top: 120px; display: flex; align-items: center; padding: 0px 10px 2px 10px; line-height: 100%;
}

.wallpaper {
    width: 280px; height: 180px; background: #fbfbfb; position: absolute; border-radius: 15px; overflow: hidden;
}

.wallpaper img {
    width: 280px; height: 180px; position: absolute; border-radius: 15px; 
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(217, 151, 132, 0.51);
  backdrop-filter: blur(12px);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .8s ease;
  border-radius: 15px; 
}

.wallpaper:hover .overlay {
  height: 100%;
}

.navbottom {
width: 371px; height: 130px; background: #fefefe; border-top: 1px solid #e5e5e5; position: absolute; bottom: 0px;
}

.navtext {
width: 220px; height: 43px; border-bottom: 1px solid #e5e5e5; position: absolute; top: 0px;
}

.mun {
width: 180px; height: 19px; position: absolute; text-align: center; left: 20px; top: 12px;
}

.navmenu {
width: 190px; height: 40px; position: absolute; left: 15px; bottom: 25px; text-align: center;
}

.nicon {
width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; font-family: poppins; font-size: 14px; font-weight: 700; color: black; mix-blend-mode: soft-light;
}

.navextra {
width: 150px; height: 130px; border-left: 1px solid #e5e5e5; position: absolute; right: 0px;
}

.nave {
width: 100px; height: 80px; position: absolute; left: 25px; top: 25px; line-height: 175%;
}

.extra {
margin-right: 12px; color: #E4B6A1;
}

#fade {
 display: none;
 background: rgba(217, 151, 132, 0.51);
 position: fixed; 
 left: 0;
 top: 0;
 width: 100%; 
 height: 100%;
 z-index: 9999999; filter: blur(24px);  
}

 .popup_block {
 display: none;
 width: 400px;
 height: 400px;
 position: fixed;
 z-index: 999999999999;
 top: 50%;
 left: 50%;
 margin-left: -200px!important;
 margin-top: -200px!important;
 }

*html #fade {
    position: absolute;
    
}

*html .popup_block {
    position: absolute;
    
}

.profile {
width: 325px; height: 250px; background: #fefefe; border: 1px solid #e5e5e5; position: absolute; left: 35px; border-radius: 30px; box-shadow: 0px 0px 5px rgba(0,0,0,0.04);
}

.buttonie {
width: 26px; height: 26px; background: rgba(217, 151, 132, 0.51); position: absolute; border-radius: 50%; right: 15px; top: 15px; display: flex; align-items: center; justify-content: center; color: rgba(217, 151, 132, 0.51); font-size: 14px; border: 1px solid #f8f3d1; transition: 0.3s; cursor: pointer;
}

.buttonie:hover {
    transition: 0.3s; background: rgba(248,216,175,0.5); border: 1px solid #f8d8af;
}
.pfp {
width: 80px; height: 80px; border: 1px solid #e5e5e5; position: absolute; top: 30px; left: 50%; margin-left: -51px; border-radius: 50%; padding: 10px; background: #fefefe; animation: pulse 2s infinite;
}

.pfp img {
    width: 80px; height: 80px; border-radius: 50%;
}
.ocname {
width: 250px; height: 20px; position: absolute; left: 35px; top: 150px; font-family: poppins; text-transform: uppercase; font-size: 18px; font-weight: 800; color: #D9957E; text-align: center;
}

.info1 {
width: 115px; height: 70px; position: absolute; left: 50px; top: 180px; overflow: scroll;
}

.line {
width: 1px; height: 72px; background: #e5e5e5; position: absolute; top: 180px; left: 174px;
}

.info2 {
width: 115px; height: 70px; position: absolute; right: 50px; top: 180px; overflow: scroll;
}

.bio {
width: 250px; height: 105px; position: absolute; left: 35px; bottom: -30px; overflow: scroll; line-height: 125%;
}
---INST----

.twi2 {
width: 262px; height: 420px; margin: auto;
}

.twibox {
width: 260px; height: 380px; background: #fdfcfc; border: 1px solid #e5e5e5; margin-top: -10px; margin-left: 66px;border-radius: 15px;
}
.instabox {
width: 260px; height: 30px; border-bottom: 1px solid #e5e5e5; position: absolute;
}

.igpfp {
width: 20px; height: 20px; border: 1px solid #e5e5e5; border-radius: 50%; position: absolute; left: 4px; top: 4px; overflow: hidden;
}

.igpfp img{
width: 20px; height: 20px;
}

.igname {
width: 215px; font-family: poppins; font-size: 8px; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; left: 35px; position: absolute; top: 8px;
}

.igfollow {
font-weight: 600; font-size: 7px; color: #CF8678; margin-left: 5px; transition: 0.3s;
}

.igfollow:hover {
    transition: 0.3s; transform: scale(1.1); cursor:url(https://i.postimg.cc/Px4ysW9f/tiny.png),auto;
}

.iggie {
font-weight: 600; font-size: 12px; float: right; margin-left: 5px;
}

.igpost {
width: 260px; height: 260px; background: #fafafa; position: relative; top: 31px; border-bottom: 1px solid #e5e5e5;
}

.igpost img {
    width: 260px; height: 260px;
}

.posticons {
width: 240px; height: 15px; position: absolute; margin-top: 35px; margin-left: 10px; font-size: 18px; letter-spacing: 3px; color: #CF8678;
}

.igdesc {
width: 240px; height: 50px; position: absolute; margin-top: 60px; margin-left: 10px; overflow: hidden;font-size: 6px;
}

-------YT------

.video-responsive {
    overflow:hidden;cursor:url(https://i.postimg.cc/Px4ysW9f/tiny.png),auto;
    padding-bottom:560px; /* Adecua este valor para controlar la altura del video */
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:5PX;
    top:10px;
    position:absolute;
}
